* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  /*scrollbar::-webkit*/
}

/* 
   FONTS
   Trocchi font code:- font-family: 'Trocchi', serif; 
   Titan one font code:- font-family: 'Titan One', cursive;
*/

header {
  width: 100%;
}

nav {
  background-color: #98D8FF;
  display: flex;
  padding: 15px 0 15px 20px;
}

.title {
  font-family: 'Titan One', cursive;
  color: #3B3A3A;
}

.logo-img {
  width: 30px;
  margin-left: 10px;
}

.toggle-on-cont {
  position: absolute;
  right: 20px;
}

.toggle-on {
  background: transparent;
  border-width: 0; 
}

.toggle-on:hover {
  opacity: 0.7;
}

.hamburger-icon {
  display: block;
  width: 30px;
  cursor: pointer;
}

.drop-down-menu {
  background-color: #EBEBEB;
  width: 200px;
  padding: 20px 0;
  position: absolute;
  left:0;
  right: 0;
  margin: 10px auto;
  z-index: 1;
  display: none;
}

.press {
  display: block;
}

.toggle-off-cont {
  text-align: left;
  width: 15px;
  margin-left: 15px;
}

.toggle-off {
  background: transparent;
  border-width: 0;
}

.toggle-off:hover {
  opacity: 0.7;
}

.close-icon {
  width: 15px;
  display: block;
  cursor: pointer;
}

.temp-scales {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.temp-scales p {
  font-family: 'Titan One', cursive;
  color: #3B3A3A;
  padding: 0 10px;
}

.toggle-btn {
  width: 30px;
  height: 15px;
  background: #3B3A3A;
  border-radius:30px;
  padding: 2.5px 3px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.toggle-btn > .inner-circle {
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}

.toggle-btn.active {
  background: #3B3A3A;
}

.toggle-btn.active > .inner-circle {
  margin-left: 14px;
}

.header-links {
  text-align: center;
}

.header-links li {
  list-style: none;
  padding: 8px 0;
}

.header-links a {
  font-family: 'Titan One', cursive;
  color: #3B3A3A;
  text-decoration: none;
}

.main-img {
  width: 100%;
  height: 50%;
  display: block;
}

.main-bg-section {
  position: relative;
  text-align: right;
}

.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slides {
  width: 800%;
  display: flex;
  overflow: hidden;
}

.slides input {
  display: none;
}

.slide {
  width: 14.29%;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation-manual {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  margin-bottom: 40px;
}

.manual-btn {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 20px;
}

.manual-btn:hover {
  background: #fff;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -14.29%;
}

#radio3:checked ~ .first {
  margin-left: -28.58%;
}

#radio4:checked ~ .first {
  margin-left: -42.87%;
}

#radio5:checked ~ .first {
  margin-left: -57.16%;
}

#radio6:checked ~ .first {
  margin-left: -71.45%;
}

#radio7:checked ~ .first {
  margin-left: -85.74%;
}

.main-img-text {
  position: absolute;
  color: #fff;
  font-family: 'Trocchi', serif;
  font-weight: 300;
  bottom: 20%;
  width: 100%;
  font-size: 20px;
  padding: 0 10px;
}

.weather-forecast {
  padding-left: 20px;
}

.daily-weather-cont {
  display: flex;
  border-bottom: 2px solid #3B3A3A;
  width: 100px;
  margin: 0 20px;
  padding: 20px 0 10px 0;
}

.local-city-p {
  font-size: 20px;
  border-bottom:#3B3A3A;
  margin: 0 20px;
}

.daily-weather-cont p, .local-city-p {
  font-family: 'Titan One', cursive;
  color: #3B3A3A;
  line-height: 55px;
}

.date-p {
  padding-right: 10px;
}

.temp-p {
  padding-left: 10px;
}

.weather-icon {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.small1 {
  width: 55px;
  height: 55px;
}

.small2 {
  width: 60px;
  height: 60px;
}

.contact-section {
  margin: 50px 0;
}

.contact-btn {
  text-align: center;
}

.contact-btn button {
  background-color: #98D8FF;
  color: #3B3A3A;
  font-family: 'Titan One', cursive;
  border: thick solid #3B3A3A;
  padding: 20px 50px;
  font-size: 20px;
  cursor: pointer;
}

footer {
  background-color: #3B3A3A;
  padding-top: 10px;
}

.footer-links {
  text-align: center;
}

.footer-links li {
  list-style: none;
  padding: 10px 0;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-family: 'Titan One', cursive;
}

.spaced-link {
  padding-top: 30px !important; 
}

.footer-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.footer-socials li {
  list-style: none;
  margin: 0 8px;
}

.footer-copyright {
  font-family: 'Trocchi', serif;
  color: #A2A2A2;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  
}
